# Whop OAuth
WHOP_CLIENT_ID=app_0ODzwoDQJCXInq
WHOP_CLIENT_SECRET=apik_6dJMur08ILxnx_A2028594_C_62de152218206b2cc3bcb79461502e8bdcecaca34ad5b897c8697988d725db
WHOP_REDIRECT_URI=https://memberflow-eight.vercel.app/api/auth/callback
NEXT_PUBLIC_WHOP_CLIENT_ID=app_0ODzwoDQJCXInq
NEXT_PUBLIC_WHOP_REDIRECT_URI=https://memberflow-eight.vercel.app/api/auth/callback

# Whop Webhooks
WHOP_WEBHOOK_SECRET=ws_0f2102a5569c4d3237fb424f375f045b5739b38c1e27eec3e6cf7da90f2df4f7

# Whop Plan IDs (for monetization)
NEXT_PUBLIC_WHOP_GROWTH_PLAN_ID=plan_moC2bR46VnYNr
NEXT_PUBLIC_WHOP_PRO_PLAN_ID=plan_FhYLwoLfNxTCS

# Database (Turso LibSQL)
DATABASE_URL=libsql://memberflow-rollandcodes.aws-eu-west-1.turso.io
DATABASE_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzI3OTY4MjQsImlkIjoiMDE5Y2MyZWMtN2QwMS03OWJhLThmOTMtZjcyZGM4YjIxMDRhIiwicmlkIjoiODFlZGFjYWEtNzg1MC00ZmEwLWE2NmMtNGRlOWQ3NDRlMmMyIn0.G081tKR2_rfPVHPgwKrfgwfJjtJ03tv0I2RYXmyk1UW7slJm0tS-f1faXQJsLpmAoQ68JdqdJ3gFRoZwSLMpDg

# App
NEXTAUTH_SECRET=apik_6dJMur08ILxnx_A2028594_C_62de152218206b2cc3bcb79461502e8bdcecaca34ad5b897c8697988d725db
NEXT_PUBLIC_APP_URL=https://memberflow-eight.vercel.app
